@model HeaderModel
@if (User.Identity.IsAuthenticated)
{
    var UserId = @User.Identity.Name;
}
else
{
    <script>window.location.href = '@Url.Action("Index", "Login")';</script>
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@Model.HeaderName</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    @{
                        int i = 1;
                    }
                    @foreach (var item in Model.BreadCrums)
                    {
                        if (i != Model.BreadCrums.Count)
                        {
                            <li class="breadcrumb-item"><a href="@item.Key">@item.Value</a></li>

                        }
                        else
                        {
                            <li class="breadcrumb-item active">@item.Value</li>

                        }

                        i++;
                    }
                    @*<li class="breadcrumb-item active">@Model.HeaderName</li>*@
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>