@model Shampan.Models.Teams

@{
	ViewData["Title"] = "Index";
	////var message = ViewBag.SuccessMsg;
}
@Html.Partial("_Header",new HeaderModel(){ HeaderName = "Team Entry", BreadCrums = new Dictionary<string, string>()
{
    {"/Teams","Index"},
    {"","Index"},
}})
<link href="~/css/button.css" rel="stylesheet" />
<div class="container-fluid">


	<form id="frm_Teams">
		<div class="card card-secondary">


			<div class="card-header">
				<h3 class="card-title">Create Team</h3>
			</div>


			<div class="card-body">

				@Html.HiddenFor(model => model.Id)
				@Html.HiddenFor(model => model.Operation)

				<div class="form-group row">


					<div class="col-sm-2">
						@Html.LabelFor(model => model.Code)
						@Html.TextBoxFor(Model =>Model.Code , new { @class = "  form-control form-control-sm",@readonly="readonly" })
						@Html.ValidationMessageFor(model => model.Code)

					</div>
					<div class="col-sm-2">
						@Html.LabelFor(model => model.TeamName)
						<div class="input-group ">
							@Html.TextBoxFor(model => model.TeamName, new { @class = "  form-control form-control-sm " })
						</div>
						@Html.ValidationMessageFor(model => model.TeamName)

					</div>				

				</div>
	

			</div>
		</div>
	</form>



	<div class="card">
		<div class="card-header p-2">
			@if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
			{
				<button type="button" class="button btnsave sslUpdate">Update</button>
			}
			else
			{
				<button class="button btnsave sslSave" type="button" id="">Save</button>
			}
		</div>
	</div>

</div>


@section scripts{

	<script src="/js/app/Services/CommonService.js"></script>


	<script src="/js/app/Services/TeamsService.js"></script>
	<script src="/js/app/Controllers/TeamsController.js"></script>

	<script>
		$(document).ready(function () {

			TeamsController.init();

		});

	</script>


}
