@model Shampan.Models.UserBranch

@{
    ViewData["Title"] = "Index";
    ////var message = ViewBag.SuccessMsg;
}
@Html.Partial("_Header",new HeaderModel(){ HeaderName = "User Branch Entry", BreadCrums = new Dictionary<string, string>()
{
    {"/UserBranch","Index"},
    {"","Index"},
}})
<link href="~/css/button.css" rel="stylesheet" />
<input type="hidden" value="@ViewBag.UserId" id="id" /> 
<div class="container-fluid">


    <form id="frm_user">
        <div class="card card-secondary">
            <div class="card-header">
                <h3 class="card-title">Create Company Info</h3>
            </div>
            <div class="card-body">
                @Html.HiddenFor(model => model.Id)

                @*@Html.HiddenFor(model => model.RequisitionNo)*@
                @Html.HiddenFor(model => model.Operation)
                <div class="form-group row">


                 
                <div class="col-sm-2">
                  @if (Model.UserId != null)
                   {
                       @Html.LabelFor(model => model.UserId)
                       
                       <input name="UserId" type="hidden" value="@Model.UserId" />
                   }
              
                    
                       @Html.DropDownListFor(model => model.UserId, Enumerable.Empty<SelectListItem>(), new { @class = "form-control form-control-sm", @data_readonly=Model.UserId,@data_selected=Model.UserId })
                       @Html.ValidationMessageFor(model => model.UserId)
                 </div>


                   <div class="col-sm-2">
                        @Html.LabelFor(model => model.BranchId)
                        @Html.DropDownListFor(model => model.BranchId,Enumerable.Empty<SelectListItem>(),  new {  @class = "form-control form-control-sm",@data_selected=Model.BranchId })
                        @Html.ValidationMessageFor(model => model.BranchId)

                    </div>

                </div>

             </div>

          </div>  
    </form>




    
    <div class="card">
        <div class="card-header p-2">

            @if (Model.Operation.Equals("update", StringComparison.OrdinalIgnoreCase))
           {
                   <button class="button btnsave sslUpdate" type="button" id="">Update</button>
            }
            else
            {
                  <button class="button btnsave sslSave" type="button" id="">Save</button>
               

            }

        </div>
    </div>

</div>


@section scripts{

 
    <script src="/js/app/Services/UserBranchService.js"></script>
    <script src="/js/app/Controllers/UserBranchController.js"></script>

    <script>
        $(document).ready(function () {

          UserBranchController.init();

        });

    </script>


}
